@font-face {
  font-family: "SFPRO";
  src: url("SFPRODISPLAYBOLD.OTF") format("truetype");
  font-weight: bold;
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SFPRO";

  h1 {
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
    line-height: 44px;
  }

  p {
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
  }
}

/* NavBar */
nav {
  background-color: #000000cc;
  color: #fff;
  width: 100%;
  height: 44px;
}

.pages {
  display: flex;
  justify-content: center;
  text-align: center;

  ul {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}
 .head{

 }